<% layout('layouts/boilerplate') -%>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img
        class="card-img-top"
        src="<%= campground.image %>"
        alt="<%= campground.title %>"
        style="max-width: 400px; height: auto"
      />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>

        <h6 class="card-subtitle mb-2 text-muted">
          <%= campground.location %>
        </h6>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">Price per night: $<%= campground.price %></p>

        <div>
          <a class="card-link btn btn-primary d-inline" href="/campgrounds"
            >Back to List</a
          >
          <a
            class="card-link btn btn-success d-inline"
            href="/campgrounds/<%= campground._id %>/edit"
            >Edit Campground</a
          >
        </div>
        <form
          class="mt-3 mx-5"
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger" type="submit">
            Delete Campground
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
